@use "./scss/variables" as myVariable;
@use "./scss/mixins";
@use "./scss/signup";
@use "./scss/login";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 80vh;
  background-color: myVariable.$bg-main;
}

::placeholder {
  font-weight: bold;
  font-size: 13px;
}
.createAccount {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  font-size: 13px;
}
.Admin {
  padding: 10px;
  width: 18rem;
  margin: auto;
  top: 80px;
}
.error {
  color: red;
  font-size: 8px;
  line-height: 0;
  float: left;
  display: block;
}
